/**
 * <%= name %> <%= version %> <<%= homepage %>>
 * <%= filename %>
 *
 * <%= description %>
 *
 * Copyright (c) <%= year %> <%= author %>, <%= company %>, contributors
 * Licensed under the <%= license %> license.
 */